* {
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid black; */
}

h1 {
    font-family: 'Comfortaa';
}

body {
    background-color: #f2f2f2;
}

button {
    border: none;
    background: none;
    color: #0095f6;
}

/* Nav Bar */
nav {
    display: flex; 
    justify-content: space-between;
    background-color: white;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 60px;
    border-bottom: 1px solid lightgray;
}

nav div {
    display: flex;
    flex-direction: row;
}

nav div * {
    padding-right: 20px;
}

nav h1 {
    padding-left: 30px;
}

nav h2 {
    font-size: medium;
    align-self: center;
}

/* Section */
section {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

/* Cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 70%;
}

/* Stories Panel */
.stories-panel {
    align-self: flex-start;
    display: flex;
    width: 60%;
    background-color: white;
    margin-bottom: 2vh;
    border: 1px solid lightgray;
    height: 14vh;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    padding-right: 0vh;
    background-color: white;
    /* width: 8vh; */
}

.story img {
    padding: 3px;
    background-color: lightgray;
    width: 6vh;
    border-radius: 50%;
}

.story p {
    color: gray;
    font-size: small;
}

/* Card */

.card {
    width: 60%;
    background-color: #fff;
    margin-bottom: 3vh;
    border: 1px solid lightgray;
}

.card img {
    width: 100%;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2vh;
    padding-right: 2vh;
}

.card-header h1 {
    font-size: x-large;
}

.card-body {
    padding: 2vh;
}

.card-body h2 {
    font-size: medium;
}

.card-body h4 {
    font-size: small;
    margin-top: 1vh;
    margin-bottom: 0vh;
    color: gray;
}

.card-body button {
    color: gray;
}

.card-desc {
    padding-bottom: 1vh;
}

.card-desc * {
    display: inline;
    font-size: medium;
}

.card-comment {
    padding-top: 1vh;
}

.card-comment * {
    display: inline;
    font-size: medium;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}

.card-left-buttons * {
    padding-right: 6px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    padding: 2vh;
    padding-top: 0vh;
    gap: 1vh;
}

.card-footer input {
    width: 100%;
    border-style: none;
}

/* Recommendations Panel */
.rec {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* width: 300px; */
    width: 16%;
    background-color: #f2f2f2;
    position: fixed;
    right: 11%;
}

.rec img {
    border-radius: 50%;
    margin-left: 1vh;
    width: 7vh;
}

.rec .user {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
}

.rec .user h1 {
    margin-left: 2vh;
    font-size: x-large;
}

.rec-body h2 {
    padding-left: 1vh;
    padding-block: 0.5vh;
    margin-block: 0px;
    font-size: large;
    padding-top: 15px;
    color: gray;
}

.rec-el {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-block: 1vh;
}

.rec-el div {
    display: flex-inline;
    align-items: center;
    margin-left: 1vh;
    margin-right: 1vh;
    width: 100%
}

.rec-el div * {
    margin-top: 0px;
    margin-bottom: 0px
}

.rec-el h2 {
    font-size: xx-large;
}

.rec-el p {
    color: gray;
}

@media only screen and (max-width: 600px) {
    .rec {
        display: none;
    }
    .cards {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .card {
        width: 95%;
    }
    .stories-panel {
        justify-content: center;
        width: 95%;
    }
}