* {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    /* border: 1px solid black; */
}

nav {
    display: flex; 
    justify-content: space-between;
}

/* Section */
section {
    display: flex;
    flex-direction: row;
}

/* Cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 70%;
}

.cards * {
    border: 1px solid black;
}

.card {
    width: 60%;
    background-color: white;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1vh;
    padding-right: 1vh;
}

.card-body img {
    width: 100%;
}

/* Recommendations Panel */
.rec {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;
    background-color: #f2f2f2;
}

.rec img {
    border-radius: 50%;
    margin-left: 1vh;
}

.rec .user {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
}

.rec .user h1 {
    margin-left: 2vh;
    font-size: xx-large;
}

.rec-body h2 {
    padding-left: 1vh;
    padding-block: 0.5vh;
    margin-block: 0px;
}

.rec-el {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-block: 1vh;
}

.rec-el div {
    display: flex-inline;
    align-items: center;
    margin-left: 1vh;
    margin-right: 1vh;
    width: 100%
}

.rec-el div * {
    margin-top: 0px;
    margin-bottom: 0px
}

.rec-el h2 {
    font-size: xx-large;
}