/* Card */

.card {
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid lightgray;
}

.card img {
    width: 100%;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.card-header h1 {
    font-size: x-large;
}

.card-body {
    padding: 20px;
}

.card-body h2 {
    font-size: medium;
}

.card-body h4 {
    font-size: small;
    margin-top: 10px;
    margin-bottom: 00px;
    color: gray;
}

.card-body button {
    color: gray;
}

.card-desc {
    padding-bottom: 10px;
}

.card-desc * {
    display: inline;
    font-size: medium;
}

.card-comment {
    padding-top: 10px;
}

.card-comment * {
    display: inline;
    font-size: medium;
}

.card-comment-list button{
    font-size: medium;
    padding-left: 0px;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}

.card-left-buttons * {
    padding-right: 6px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}

.card-footer * {
    margin: 5px;
}

.card-footer button {
    font-size: large;
}

.card-footer input {
    width: 100%;
    border-style: none;
}

button.liked {
    color: red;
}