<div class="card">
    <div class="card-header">
        <h1>gibsonjack</h1>
        <h1>···</h1>
    </div>
    <img src="https://picsum.photos/600/400">
    <div class="card-body">
        <div class="card-buttons">
            <div class="card-left-buttons">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
            </div>
            <div>
                <i class="far fa-bookmark"></i>
            </div>
        </div>
        <h2>69 likes</h2>
        <div class="card-desc">
            <h3>gibsonjack</h3>
            <p>I took this photo while taking a dump lol who's with me? i know i am, because i really...</p>
            <button>more</button>
        </div>
        <div class="card-comment-list">
            <div class="card-comment">
                <h3>lizzie</h3>
                <p>Here is a comment text text text text text.</p>
            </div>

            <div class="card-comment">
                <h3>elonmusk</h3>
                <p>Good work.</p>
            </div>

        </div>
        <h4>3 DAYS AGO</h4>
    </div>
    <form class="card-footer">
        <i class="far fa-smile"></i>
        <input type="text" placeholder="Add a comment...">
        <button>Post</button>
    </form>
</div>
<div class="card">
    <div class="card-header">
        <h1>gibsonjack</h1>
        <h1>···</h1>
    </div>
    <img src="https://picsum.photos/600/400">
    <div class="card-body">
        <div class="card-buttons">
            <div class="card-left-buttons">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
            </div>
            <div>
                <i class="far fa-bookmark"></i>
            </div>
        </div>
        <h2>69 likes</h2>
        <div class="card-desc">
            <h3>gibsonjack</h3>
            <p>I took this photo while taking a dump lol who's with me? i know i am, because i really...</p>
            <button>more</button>
        </div>
        <div class="card-comment-list">
            <div class="card-comment">
                <h3>lizzie</h3>
                <p>Here is a comment text text text text text.</p>
            </div>

            <div class="card-comment">
                <h3>elonmusk</h3>
                <p>Good work.</p>
            </div>

        </div>
        <h4>3 DAYS AGO</h4>
    </div>
    <form class="card-footer">
        <i class="far fa-smile"></i>
        <input type="text" placeholder="Add a comment...">
        <button>Post</button>
    </form>
</div>
<div class="card">
    <div class="card-header">
        <h1>gibsonjack</h1>
        <h1>···</h1>
    </div>
    <img src="https://picsum.photos/600/400">
    <div class="card-body">
        <div class="card-buttons">
            <div class="card-left-buttons">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
            </div>
            <div>
                <i class="far fa-bookmark"></i>
            </div>
        </div>
        <h2>69 likes</h2>
        <div class="card-desc">
            <h3>gibsonjack</h3>
            <p>I took this photo while taking a dump lol who's with me? i know i am, because i really...</p>
            <button>more</button>
        </div>
        <div class="card-comment-list">
            <div class="card-comment">
                <h3>lizzie</h3>
                <p>Here is a comment text text text text text.</p>
            </div>

            <div class="card-comment">
                <h3>elonmusk</h3>
                <p>Good work.</p>
            </div>

        </div>
        <h4>3 DAYS AGO</h4>
    </div>
    <form class="card-footer">
        <i class="far fa-smile"></i>
        <input type="text" placeholder="Add a comment...">
        <button>Post</button>
    </form>
</div>
<div class="card">
    <div class="card-header">
        <h1>gibsonjack</h1>
        <h1>···</h1>
    </div>
    <img src="https://picsum.photos/600/400">
    <div class="card-body">
        <div class="card-buttons">
            <div class="card-left-buttons">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
            </div>
            <div>
                <i class="far fa-bookmark"></i>
            </div>
        </div>
        <h2>69 likes</h2>
        <div class="card-desc">
            <h3>gibsonjack</h3>
            <p>I took this photo while taking a dump lol who's with me? i know i am, because i really...</p>
            <button>more</button>
        </div>
        <div class="card-comment-list">
            <div class="card-comment">
                <h3>lizzie</h3>
                <p>Here is a comment text text text text text.</p>
            </div>

            <div class="card-comment">
                <h3>elonmusk</h3>
                <p>Good work.</p>
            </div>

        </div>
        <h4>3 DAYS AGO</h4>
    </div>
    <form class="card-footer">
        <i class="far fa-smile"></i>
        <input type="text" placeholder="Add a comment...">
        <button>Post</button>
    </form>
</div>