{% for post in posts %}

<div class="card">
    <div class="card-header">
        <h1>{{post.user.username}}</h1>
        <h1>···</h1>
    </div>
    <img src="{{post.image_url}}" alt="{{post.user.username}}'s posted image">
    <div class="card-body">
        <div class="card-buttons">
            <div class="card-left-buttons">
                <i class="far fa-heart"></i>
                <i class="far fa-comment"></i>
                <i class="far fa-paper-plane"></i>
            </div>
            <div>
                <i class="far fa-bookmark"></i>
            </div>
        </div>
        <h2>{{post.likes}} likes</h2>
        <div class="card-desc">
            <h3>{{post.user.username}}</h3>
            <p>{{post.title}}</p>
            <button>more</button>
        </div>
        <div class="card-comment-list">
            {% if post.comments | length == 1 %}
            <div class="card-comment">
                <h3>{{post.comments[0].user.username}}</h3>
                <p>{{post.comments[0].text}}</p>
            </div>
            {% elif post.comments | length > 1 %}
            <button>View all {{post.comments | length}} comments</button>
            <div class="card-comment">
                <h3>{{post.comments[0].user.username}}</h3>
                <p>{{post.comments[0].text}}</p>
            </div>
            {% endif %}
        </div>
        <h4>{{post.display_time}}</h4>
    </div>
    <form class="card-footer">
        <i class="far fa-smile"></i>
        <input type="text" id="comment" placeholder="Add a comment..." aria-label="Add a comment">
        <button>Post</button>
    </form>
</div>

{% endfor %}