<div class="stories-panel">
    <div class="story">
        <img src="https://picsum.photos/seed/s1/200">
        <p>gouldgennifer</p>
    </div>
    <div class="story">
        <img src="https://picsum.photos/seed/s2/200">
        <p>matthew16</p>
    </div>
    <div class="story">
        <img src="https://picsum.photos/seed/s3/200">
        <p>sanchezjill</p>
    </div>
    <div class="story">
        <img src="https://picsum.photos/seed/s4/200">
        <p>gloria62</p>
    </div>
    <div class="story">
        <img src="https://picsum.photos/seed/s5/200">
        <p>jwright</p>
    </div>
</div>
