@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    color: rgb(189, 183, 175);
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(31, 34, 35);
}

aside, main, nav {
    padding: 10px;
}

h1, h2, h3, h4 {
    color: white;
    font-family: 'Comfortaa', cursive;
}
a, a:visited, a:hover, a:link {
    color: rgb(122, 177, 217);
}
a:hover {
    color: rgb(157, 148, 136);
}
button.link {
    color: rgb(122, 177, 217);
    background-color: transparent;
    border-width: 0px;
}
button.link:hover {
    color: rgb(157, 148, 136);
}

button.link.following {
    padding: 5px 10px !important;
}
button.link.following.active {
    background-color: rgb(24, 26, 27);
    padding: 5px 10px !important;
    border: solid 1px #CCC;
    border-radius: 4px;
}
header {
    margin-top: 20px;
}

nav {
    position: sticky;
    z-index: 1;
    height: 70px;
    width: 100%;
    background-color: rgb(24, 26, 27);
    border-bottom: solid rgb(58, 63, 65) 1px;
    left: 0px;
    top: 0px;
    padding: 0px 3vw;
}

/* courtesy of https://ilikekillnerds.com/2015/07/recreating-facebooks-celebrate-pride-rainbow-overlay-3-different-ways-using-css/ */
nav > h1 {
    background: linear-gradient(
        to bottom,
        rgba(255, 62, 24, 1) 16.66666666666667%, 
        rgba(252, 154, 0, 1) 16.66666666666667%, 
        rgba(252, 154, 0, 1) 33.33333333333333%, 
        rgba(255, 216, 0, 1) 33.33333333333333%, 
        rgba(255, 216, 0, 1) 33.33333333333333%, 
        rgba(255, 216, 0, 1) 50.00000000000001%, 
        rgba(57, 234, 124, 1) 50.00000000000001%, 
        rgba(57, 234, 124, 1) 66.66666666666668%,
        rgba(11, 178, 255, 1) 66.66666666666668%,
        rgba(11, 178, 255, 1) 83.33333333333335%,
        rgba(152, 90, 255, 1) 83.33333333333335%
    );
    background-clip: text;
    color: rgba(255, 255, 255, 0.25);
    animation: pride-logo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

nav, nav ul, .card .header, .card .buttons, .card .add-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

aside {
    position: fixed;
    right: 0px;
    top: 70px;
    width: calc(40vw - 6px);
    background-color: rgb(31, 34, 35);
    height: calc(100vh - 100px);
    padding-left: 30px;
}
main {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stories {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 50vw;
    min-width: 540px;
    border: solid 1px rgb(58, 63, 65);
    margin-bottom: 30px;
    background-color: rgb(24, 26, 27);
    overflow: hidden;
}
.stories > div {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stories > div .pic {
    min-width: 50px;
    min-height: 50px;
    border: solid 3px rgb(58, 63, 65);
    border-radius: 27px;
}
.stories p {
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 0.80em;
    color: #999;
    width: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.card {
    position: relative;
    border: solid 1px rgb(58, 63, 65);
    margin-bottom: 30px;
    background-color: rgb(24, 26, 27);
    width: 50vw;
    min-width: 540px;
}

/* courtesy of https://css-tricks.com/animating-a-css-gradient-border/ */
@keyframes card-border-radiate {
    0% {
        border-image: linear-gradient(-45deg, rgb(58, 63, 65), rgb(58, 63, 65)) 1;
    }
    25% {
        border-image: linear-gradient(-45deg, rgb(58, 63, 65), rgb(81, 193, 238)) 1;
    }
    50% {
        border-image: linear-gradient(-45deg, rgb(81, 193, 238), rgb(81, 193, 238)) 1;
    }
    75% {
        border-image: linear-gradient(-45deg, rgb(81, 193, 238), rgb(58, 63, 65)) 1;
    }
    100% {
        border-image: linear-gradient(-45deg, rgb(58, 63, 65)) 1;
    }
}

.card-update-anim {
    animation: 0.5s card-border-radiate ease-in;
    animation-iteration-count: 1;
    border-image: linear-gradient(-45deg, rgb(58, 63, 65), rgb(58, 63, 65)) 1;
}

.card img {
    width: 100%;
    height: auto;
}

.card .header, .card .info {
    padding-left: 10px;
    color: #444;
}

.card .header {
    opacity: 30%;
    transition: opacity 0.1s ease-in;
    position: absolute;
    padding-left: 10px;
    background-image: linear-gradient(to bottom, rgba(24, 26, 27, 0.8), rgba(24, 26, 27, 0));
    height: 40px;
    width: 100%;
}

.card .header:hover {
    opacity: 100%;
    transition: opacity 0.1s ease-in;
}

.card .header h3 {
    text-shadow: #333 0px 0px 5px;
}

.card .buttons {
    opacity: 40%;
    transition: opacity 0.1s ease-in;
    position: relative;
    background-image: linear-gradient(to top, rgba(24, 26, 27, 0.8), rgba(24, 26, 27, 0));
    height: 40px;
    top: -40px;
    margin-bottom: -40px;
    width: 100%;
    font-size: 1.3em;
    padding: 5px;
}

.card .buttons div:nth-child(1) span {
    margin-right: 10px;
}

.like-button {
    transition: color 0.5s ease-in;
    transform: scale(1) !important;
}

.card .buttons:hover {
    opacity: 100%;
    transition: opacity 0.1s ease-in;
}

.card .buttons i {
    margin-right: 4px;
}

.card  button.link {
    font-size: 1em;
}

.card .caption, .card .comments, .likes {
    padding: 0px 5px;
}
.card .caption p, .card .comments p {
    margin: 8px 0px 3px 0px;
    font-size: 0.9em;
}
.card .timestamp {
    color: #999;
    text-transform: uppercase;
    font-size: 0.70em !important;
    margin-bottom: 5px;
}
.card .add-comment {
    border-top: solid 1px rgb(58, 63, 65);
    padding: 10px 15px;
}

.card .add-comment .input-holder {
    width: 90%;
}

.card .add-comment input, .card .add-comment input:focus, .card .add-comment input:focus-visible {
    background-color: rgb(24, 26, 27);
    border-width: 0px;
    outline: none;
    font-size: 0.95em;
    width: 85%;
    padding: 10px 0px;
}
.card .add-comment i {
    font-size: 1.3em;
    margin-right: 10px;
}

.card strong, .modal strong {
    margin-right: 6px;
}
.card p {
    line-height: 1.2em;
}

.card .link {
    margin: 0px;
    padding: 10px 0px;
    font-size: 0.9em !important;
}

.suggestion-text {
    color: rgb(168, 160, 149);
    font-weight: 600;
    letter-spacing: 0px;
}

.suggestions section {
    display: grid;
    grid-template-columns: 35px 2fr 1fr;
    align-items: center;
    width: 25vw;
}
.suggestions section > div {
    padding: 8px;
    width: 200px;
}
.suggestions section p, .suggestions section a {
    margin: 0px;
}
.suggestions section p {
    color: #333;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}
.suggestions section a {
    font-size: 0.8em;
}
.suggestions section p:nth-child(1) {
    color: rgb(200, 195, 188);
}
.suggestions section p:nth-child(2) {
    color: rgb(168, 160, 149);
    font-size: 0.8em;
    font-weight: 400;
}
.suggestions section .pic {
    min-width: 30px;
    min-height: 30px;
    border: solid 1px rgb(58, 63, 65);
    border-radius: 15px;
}
aside header > div {
    display: flex;
    align-items: center;
    width: 25vw;
}

aside header > div > div > * {
    margin: 5px;
}

aside header .pic {
    min-width: 60px;
    min-height: 60px;
    border-radius: 33px;
    border-width: 0px;
    margin-right: 20px;
}
.visuallyhidden {
    display: none;
}

.modal-bg {
    background: rgba(40, 40, 40, 0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-bg .close {
    position: fixed;
    top: 10px;
    right: 10px;
    background: transparent;
    color: rgb(24, 26, 27);
    border: 0;
    font-size: 2em;
}

div.modal {
    background: rgb(24, 26, 27);
    height: 80vh;
    width: 90vw;
    background: #EEE;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow-y: hidden;
    align-items: center;
}
div.modal .container {
    height: 100%;
    overflow-y: auto;
    background: rgb(24, 26, 27);
    min-width: 300px;
}
div.modal .container h3 {
    padding: 20px;
    border-bottom: solid 1px rgb(31, 34, 35);
    margin: 0px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background: rgb(24, 26, 27);
    z-index: 100;
}
div.modal .container .pic {
    min-width: 30px;
    min-height: 30px;
    border-radius: 15px;
    border-width: 0px;
    margin-right: 10px;
}
div.modal .container .body {
    padding: 20px;
    color: #555;
}
div.modal .featured-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body.modal {
    overflow-y: hidden;
}

.hidden {
    display: none;
}

.comment {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 50px auto 30px;
    font-size: 0.9em;
    margin-bottom: 20px;
}
.comment p {
    margin-top: 0px;
    margin-bottom: 6px;
}
.comment span {
    font-weight: bold;
}

.comment button {
    background: transparent;
    border: 0;
}

button.like, button.bookmark {
    background: transparent;
    padding: 0px;
    font-size: 1em;
    border: 0;
}

@keyframes likeAnim {
    0% {
        color: rgb(189, 183, 175);
        transform: scale(1);
    }
    20% {
        color: #ffaa43;
        transform: scale(1.5);
    }
    40% {
        color: #fff453;
    }
    50% {
        color: #44ff7c;
        transform: scale(1.1);
    }
    60% {
        color: hsl(222, 100%, 65%);
    }
    80% {
        color: rgb(232, 82, 255);
    }
    100% {
        color: rgb(244, 62, 62);
        transform: scale(1);
    }
}

.iliked {
    color: rgb(244, 62, 62);
    animation-name: likeAnim;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.liked {
    color: rgb(244, 62, 62);
}


@media (max-width: 900px) {
    aside {
        display: none;
    }
    main {
        width: 100vw;
        padding: 0px;
        align-items: center;
    }
    .card, .stories {
        width: 75vw;
        min-width: auto;
    }
}

@media (max-width: 700px) {
    .card, .stories {
        width: 90vw;
    }
    div.modal {
        grid-template-columns: 1fr;
    }
    div.modal .featured-image {
        display: none;
    }
}
